<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>layout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand="full" (click)="openPage('/layou-header-footer')">Header and Footer</ion-button>
  <ion-button expand="full" (click)="openPage('/layout-tabs')">Tabs</ion-button>
  <ion-button expand="full" (click)="openPage('layout-menu')">Menu</ion-button>
  <ion-button expand="full" (click)="openPage('splitPane')">Split Pane</ion-button>
  <ion-button expand="full" (click)="openPage('layout-grid')">Grid</ion-button>
</ion-content>
